@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800&family=Squada+One&display=swap');

.image-profile {
  position: relative;
}

.cover-image {
  width: 100vw;
  height: auto;
  object-fit: contain;
  background-size: cover;
}

.avatar-image {
  position: absolute;
  width: calc(100vw / 5);
  top: 74%;
  left: 5%;
}

.title-personal {
  color: #1ac073;
  font-family: 'ABeeZee', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

.image-profile .tab {
  position: absolute;
  top: 110%;
  left: 38%;
}

.tab-profile {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100px;
  height: 28px;
  border: solid 1px #f3ba00;
  color: #929292;
  background-color: #fff;
}

.tab-history,
.tab-profile {
  cursor: pointer;
}

.tab-history {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100px;
  height: 28px;
  border: solid 1px #f3ba00;
  color: #929292;
  background-color: #fff;
}

.active {
  background-color: #f3ba00;
  color: #000;
}

//Odder history

.menu-image {
  width: 140px;
  height: 140px;
  margin: 10px;
  border: solid 1px #929292;
  border-radius: 50%;
}

// .table {
//   background-color: #f0faf7;
//   border-radius: 8px;
// }

.content-order {
  height: auto;
  margin-top: 180px;
}

.order {
  display: flex;
  flex-direction: column;
  border: solid 6px #fff;
  background-color: #f0faf7;
  border-radius: 12px;
  padding: 6px 10px 10px;
}

.order-item {
  color: #000;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  align-items: center;
  border: 1px solid #929292;
  border-radius: 16px;
}

.unit-price {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 10px 10px 10px 0;
}

.order-infor {
  margin-bottom: 10px;
  padding: 10px;
}

.item-infor {
  margin: 10px;
}

.order-date {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #929292;
  margin-top: 6px;
}

.order-footer {
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.line {
  border: solid 0.5px #929292;
}

.btn-paid {
  width: 140px;
}

.total-price p {
  color: #929292;
  font-size: 18px;
}

.btn-cancel {
  width: 140px;
  background-color: #f3ba00;
}
