@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800&family=Squada+One&display=swap');

html {
  background-color: #fff;
}

.content-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-head {
  width: 100%;
  height: 90%;
  background-color: #1ac073;
  display: flex;
}

.slogan {
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}

.introduce {
  margin: 20px 0 30px;
  font-size: 20px;
  color: #fff;
}

.left-grid {
  padding: 50px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-input {
  height: 50px;
  width: 260px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding-left: 20px;
}

.search-button {
  height: 50px;
  width: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f3ba00;
  border: none;
}

.search-button:hover {
  cursor: pointer;
}

.image-cooking {
  margin-top: 40px;
  width: 80%;
}

.tab-navi {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 10px 16px;
}

.tabs {
  border-radius: 0px;
  width: auto;
  height: 30px;
  border: solid 1px #f3ba00;
  color: #929292;
  background-color: #fff;
  padding: 5px 24px;
}

.tabs:hover {
  cursor: pointer;
}

.tab-navi button:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tab-navi button:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.active {
  background-color: #f3ba00;
  color: #000;
}

.title-trending {
  font-style: italic;
  color: #000;
  font-weight: 600;
  margin-left: 16px;
}

.filters {
  height: 34px;
  width: 170px;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: solid 1px #929292;
  margin: 20px 16px;
}

.body-content {
  margin-top: 100px;
}

.title-items {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-bottom: 30px;
}

.black {
  color: #000;
}

.cart-itemlist {
  color: #000;
}

.cart-item {
  display: flex;
  padding: 10px;
}

.itemInfor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 80px;
}

th {
  padding: 10px 0 20px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.qty-minus,
.qty-plus {
  width: 32px;
  height: 32px;
  font-size: 16px;
  color: #1ac073;
  background-color: #f6f7f8;
  border: 1px solid #f6f7f8;
}

.qty-minus {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.qty-plus {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.qty-number {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7f8;
}

.remove-item {
  color: red;
}

.item-name {
  font-size: 18px;
}

.item-ingredient {
  line-height: 22px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #929292;
  font-family: 'Lexend Deca', sans-serif;
}

.add-by {
  color: #929292;
  font-family: 'Lexend Deca', sans-serif;
}
